@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  background-color: #0e312d;
  font-family: 'Roboto', sans-serif; /* Apply the Roboto font */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  display: flex; 
  flex-direction: column;
  overflow: hidden; 
  z-index: -1; 
}